.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(22,44,80,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}